<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%# The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -%>

  <title>Rails Auth0</title>

  <%# http://realfavicongenerator.net/ -%>
  <%= favicon_link_tag('favicon/favicon.ico') if File.exists?(Rails.root.join('app', 'assets', 'images', 'favicon', 'favicon.ico')) %>
  <% %w{32 16}.each do |size| -%>
      <%= favicon_link_tag("favicon/favicon-#{size}x#{size}.png", type: 'image/png', sizes: "#{size}x#{size}") if File.exists?(Rails.root.join('app', 'assets', 'images', 'favicon', "favicon-#{size}x#{size}.png")) %>
  <% end -%>
  <%= favicon_link_tag('favicon/apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '180x180') if File.exists?(Rails.root.join('app', 'assets', 'images', 'favicon', 'apple-touch-icon.png')) %>
  <link rel="mask-icon" href='/assets/favicon/safari-pinned-tab.svg' color='#DE0831'>
  <%= favicon_link_tag('/assets/favicon/safari-pinned-tab.svg', rel: 'mask-icon', type: 'image/svg', color: '#DE0831') %>
  <meta name="theme-color" content="#ffffff">

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= include_gon(watch: false) if defined? Gon %>
  <%= yield :javascript %>
</head>

<body class="public">
<div id="application-background"></div>

<header>
  <header>
    <div id="flash">
      <% flash.each do |type, message| %>
          <%= content_tag :p, class: "#{type} message" do
            concat link_to '<i class="fa fa-times-circle" aria-hidden="true"></i>'.html_safe, 'javascript:;', class: 'close'
            concat message
          end
          %>
      <% end %>
    </div>

    <div class="auth">
      <% unless authenticated? -%>
          <script>
              <%# Customization options:  https://github.com/auth0/lock -%>
              var auth0LockOptions = {
                  auth: {
                      redirectUrl: '<%= Rails.application.secrets.auth0_callback_url %>',
                      params: {
                          scope: 'openid email picture user_metadata app_metadata offline_access'
                      }
                  },
                  languageDictionary: {
                      title: 'Rails App'
                  },
                  rememberLastLogin: true,
                  theme: {
                      logo: '/login-logo.svg',
                      primaryColor: '#DE0831'
                  },
                  allowLogin: true,
                  allowSignUp: false
              };
              var auth0Lock = new Auth0Lock('<%= Rails.application.secrets.auth0_client_id %>', '<%= Rails.application.secrets.auth0_domain %>', auth0LockOptions);

              function signin() {
                  auth0Lock.show();
              }
          </script>
          <!--a class="" onclick="signin()">Login</a-->
      <% end -%>
    </div>
  </header>
</header>
<% controller_classes = [] -%>
<div id="<%= controller_name.gsub('_', '-') %>" class="<%= controller_classes.join(' ') %>">
  <div id="<%= action_name.gsub('_', '-') %>">
    <%= yield %>
  </div>
</div>
</body>
</html>
